body {
    background-color: #afafaf;
}

.tabe {
    padding: 100px;
}

j {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #ff0000;
}

k {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: #5900ff;
}

.c-u {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #adff2f;
}

.plink {
    position: absolute;
    right: 0;
}

.no-click {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 50;
    padding-bottom: 30px;
}